{% extends 'base.html' %}

{% load static %}

{% block title %} Login - Administrador {% endblock title %}

{% block titulo %}Login - Administrador{% endblock titulo %}

{% block conteudo %}
{% if request.user.is_authenticated %}
    <script>
        window.location = '{% url "dash_admin" %}';
    </script>
{% else %}

<div><h2>BEM VINDO AO MÓDULO DO ADMINISTRADOR</h2></div>
<div><h3>INSIRA SUAS CREDENCIAS PARA PROSSEGUIR</h3></div>
<div>
    <form class="form" action="{% url 'login_admin' %}" method="post">
      {% csrf_token %}
      <img src="{% static 'img/hospital.png' %}" width="50em" height="50em" alt="" class="img_topo">
      <input type="text" name="nome" placeholder="Usuário">
      <input type="password" name="senha" placeholder="Senha">
    
      <input style="background-color: blueviolet; color: white;" type="submit" value="Entrar"> 
      <p></p>
      <p></p>
    </form>
</div>

{% endif %}

{% endblock conteudo %}


