{% extends 'base.html' %}

{% load static %}

{% block title %} Sobre Nós {% endblock title %}

{% block titulo %}Sobre Nós{% endblock titulo %}

{% block conteudo %}

        <img src="{% static 'img/ifbaiano.png' %}" width="200em" alt="">
        <p>
            Sobre nós
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Error inventore nobis tempore fugiat eveniet, 
                soluta cupiditate molestiae illum officia pariatur voluptatum itaque amet animi?
                Quo asperiores sequi necessitatibus debitis repellat?
        </p>
       


{% endblock conteudo %}