{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block titulo %}Página Inicial{% endblock titulo %}

{% block conteudo %}
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Error inventore nobis tempore fugiat eveniet, 
                soluta cupiditate molestiae illum officia pariatur voluptatum itaque amet animi?
                Quo asperiores sequi necessitatibus debitis repellat?
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Error inventore nobis tempore fugiat eveniet, 
                soluta cupiditate molestiae illum officia pariatur voluptatum itaque amet animi?
                Quo asperiores sequi necessitatibus debitis repellat?
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Error inventore nobis tempore fugiat eveniet, 
                soluta cupiditate molestiae illum officia pariatur voluptatum itaque amet animi?
                Quo asperiores sequi necessitatibus debitis repellat?
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Error inventore nobis tempore fugiat eveniet, 
                soluta cupiditate molestiae illum officia pariatur voluptatum itaque amet animi?
                Quo asperiores sequi necessitatibus debitis repellat?
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Error inventore nobis tempore fugiat eveniet, 
                soluta cupiditate molestiae illum officia pariatur voluptatum itaque amet animi?
                Quo asperiores sequi necessitatibus debitis repellat?
        </p>


{% endblock conteudo %}